<!DOCTYPE html>
<html>
<head>
	<title>KT</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
	<style>
		#page {
			
			height: 100%;
            width: 100%;
			
		}
        .singularity{
            display: flex;
			align-items: center;
			justify-content: center; 
            padding-top: 287px;
            font-size: 100px;
			font-weight: bold;
			font-family: 'Roboto';
        }
	</style>
</head>
<body>

	<div id="page">
		<div class="singularity"> K T&nbsp&nbspS I N G U L A R I T Y</div>
       
	</div>

</body>
</html>
